<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

Last notifications sent:

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Notification Date</th>
        <th>Client</th>
        <th>Admin POC</th>
        <th>Number of Licenses</th>
      </tr>
    </thead>
    <tbody>
        {% for notification in page_obj %}
            <tr>
                <td>{{ notification.sending_date }}</td>
                <td>{{ notification.client.client_name }}</td>
                <td>{{ notification.admin_poc }}</td>
                <td>{{ notification.quantity_of_notificated_licenses }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>